/* popup.css */

:root {
  background: rgb(27, 27, 27);
  /* background: rgb(27, 48, 32); */
  /* background: linear-gradient(
    0deg,
    rgba(27, 48, 32, 1) 25%,
    rgba(7, 77, 33, 1) 90%
  ); */
}
body {
  display: flex;
  flex-direction: column;
  height: 550px;
  width: 600px;
  padding: 10px;
  font-family: "Switzer", sans-serif;
}

.non-authorized {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10em;
  height: 100vh;
}

.non-authorized h2,
.non-authorized p,
.non-authorized a {
  font-family: "Switzer", sans-serif;
}

.non-authorized h2 {
  color: white;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  padding: 0 2em;
  width: auto;
  margin: 0;
}

.non-authorized span {
  background: -webkit-linear-gradient(#eee, #00923a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.non-authorized p {
  color: rgb(165, 165, 165);
  font-size: 20px;
  font-weight: 600;
}

.non-authorized a {
  color: #2cb152;
  transition: color 0.35s ease-in-out;

  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.non-authorized a:hover {
  cursor: pointer;
  color: #f4f4f4;
}

.podcast-container {
  height: 152px;
  background-color: rgb(27, 27, 27);
}

.iframe-container {
  position: fixed; /* Position it fixed on the viewport */
  top: 20px; /* Stick it to the top */
  width: 100%; /* Occupy the full width */
  z-index: 9999; /* Set a high z-index to keep it on top */
  max-height: 180px;
}

iframe {
  width: 597px;
  height: 152px;
  border: none;
  border-radius: 12px;
}

.podcast-selection h3 {
  color: white;
  font-size: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 0.5em;
  width: 100vw;
}

.podcast-selection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.myshows,
.episodes,
.allshows {
  display: block;
}

.myshows p,
.allshows p {
  width: 110px;
  align-self: center;
}

.allshows-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 9px;
}

.myshows-container,
.recshows-container {
  display: grid; /* Use grid layout for better alignment */
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 2px;
}

.episodes-container {
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
}

.shows-details-container {
  display: flex;
  max-height: 50px;
  overflow-x: clip;
  overflow-y: clip;

  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.show img {
  width: 42px;
  height: 42px;
}

.show {
  width: 190px;
  padding: 2px;
}

.episode {
  width: 290px;
  margin: 3px auto;
  padding: 10px 2px;
}

.episode,
.show {
  margin-bottom: 7px;
  margin-right: 7px;
  cursor: pointer;
  /* background-color: #f0f0f0; */
  background: rgb(214, 214, 214);
  background: linear-gradient(
    0deg,
    rgba(230, 230, 230, 0.92) 0%,
    rgba(240, 240, 240, 0.97) 33%,
    rgba(240, 240, 240, 1) 73%,
    rgba(230, 230, 230, 0.92) 100%
  );
  border: none;
  border-radius: 6px;
  text-align: left;
  font-family: "Switzer", sans-serif;
  font-weight: 600;
}

.episode:hover {
  cursor: pointer;
}

.episode p {
  width: 100%;
  margin: auto;
}

.episodes-details-container {
  display: flex;
  flex-direction: column;
  text-align: left;

  height: 50px;
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis;
  align-items: center;

  padding: 2px 7px;
}

.episodes-details-description {
  color: rgba(128, 128, 128, 0.9);
  white-space: nowrap; /* Prevent line breaks within the description */
  overflow: hidden; /* Hide any overflow content */
  text-overflow: ellipsis; /* Add ellipsis for overflow content */
  font-weight: 500;
}

.hidden {
  display: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
  color: #afafaf;

  margin-bottom: 0.5em;
  margin-block-start: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  transform: scale(1);
  transition: transform 0.35s ease-in-out, color 0.35s ease-in-out;
}

.material-symbols-outlined:hover {
  cursor: pointer;
  color: #f4f4f4;
  transform: scale(1.1);
}
